header {
    background: pink;
    padding: 25px 0; margin: 0 auto;
    width: calc(100% - 60px); height: 100px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
header .logo {
    width: 213px;
    align-self: center;
}
header .logo a {}
header .logo a img{
    width: 100%; 
    background: red;
}
header .right{
    background: aqua;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .right h2{}
header .right h2 a{
    font-weight: 700;
}
header .right .search {
    border: 1px solid black;
    background: #1c1c1c;
    border-radius: 20px;
    margin: 0 25px;
}
header .right .search fieldset{
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
header .right .search fieldset #searchtxt {
    width: 330px; height: 50px;
    background: none; color: #c1c1c1;
    margin-left: 10px;
}
header .right .search fieldset #searchbtn {
    background: none;
    width: 30px; height: 30px;
    
}
header .right .search fieldset #searchbtn img {
    width: 100%;
}
header .right .icon {}
header .right .icon #login {}
header .right .icon #cart {
    margin:0 20px;
}
header .right .icon #menu {}